$color1: #fff;
$color2: #2a2d32;
$color3: #151515;
$color4: #f4b60d;
$color5: #248cec;
$color6: #181a1d;
$color7: rgba(255, 255, 255, 0.05);
$color8: #2a2b2e;
$color9: #8a8a8a;
$color10: #989fb3;
$color11: rgba(54, 149, 236, .9);
$color12: #f7f7f7;
$color13: #0187f4;
$color14: #e8e8e8;
