@import '../theme/reset';
@import '../theme/fonts';
@import '../theme/variables';

body {
    font-family: 'PT Sans', Arial, sans-serif;

    header {
        width: 1160px;
        margin: 0 auto;

        .topLine {
            display: flex;
            justify-content: space-between;
            margin-top: 37px;

            .logo {
                margin-left: 4px;
            }

            .iconBar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 145px;
                margin-right: 2px;

                li {
                    a {
                        display: block;
                        width: 16px;
                        height: 16px;
                        transition: background .5s;
                        background: url('../images/icon-topLine.png') no-repeat;
                        text-decoration: none;

                        &:hover {
                            transition: background .5s;
                            background-position-y: -25px;
                        }
                    }

                    .twitter {
                        background-position: -34px 0;
                    }

                    .rss {
                        background-position: -65px 0;
                    }

                    .linkedin {
                        background-position: -97px 0;
                    }

                    .skype {
                        background-position: -130px 0;
                    }
                }
            }

        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 56px;
            margin-top: 35px;
            background-color: $color2;

            .menu {
                display: flex;

                li {
                    border-right: 1px solid $color3;

                    a {
                        display: block;
                        padding: 0 35px;
                        transition: color .5s;
                        color: $color1;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        line-height: 56px;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            transition: color .5s;
                            color: $color4;
                        }

                        &:active {
                            transition: background-color, color .5s;
                            background-color: $color5;
                            color: $color1;
                        }
                    }
                }
            }

            form {
                margin-right: 8px;

                input {
                    width: 240px;
                    height: 40px;
                    padding-right: 30px;
                    padding-left: 14px;
                    border: 1px solid $color6;
                    outline: 0;
                    background: url('../images/iconSearch.png') no-repeat 211px center;
                    background-color: $color7;
                    color: $color1;
                    font-family: Arial, sans-serif;
                    font-size: 12px;
                }
            }

        }

        .slider {
            margin-top: 40px;

            img {
                display: block;
            }
        }
    }

    .feature {
        display: flex;
        justify-content: space-between;
        width: 1160px;
        margin: 60px auto 0;

        div {
            width: 360px;

            h1 {
                color: $color8;
                font-size: 20px;
                font-weight: 500;

                span {
                    margin-right: 17px;
                    color: $color8;
                    font-size: 90px;
                    opacity: .1;
                }
            }

            p {
                margin: 8px 0 16px;
                padding-left: 120px;
                color: $color9;
                font-family: Arial, sans-serif;
                font-size: 13px;
                line-height: 20px;
            }

            a {
                margin-left: 120px;
                transition: color .5s;
                color: $color8;
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;

                span {
                    margin-left: 5px;
                    transition: color .5s;
                    color: $color5;
                }

                &:hover {
                    transition: color .5s;
                    color: $color5;

                    span {
                        transition: color .5s;
                        color: $color10;
                    }
                }
            }
        }

        .inside {
            h1 {
                background: url('../images/iconSetings.png') no-repeat 123px 10px;
            }
        }

        .technologies {
            h1 {
                background: url('../images/iconParams.png') no-repeat 123px 10px;
            }
        }

        .support {
            h1 {
                background: url('../images/iconTruck.png') no-repeat 123px 10px;
            }
        }
    }

    .services {
        height: 500px;
        margin-top: 85px;
        background-color: $color2;

        .container {
            width: 1160px;
            margin: 0 auto;
            padding-top: 46px;

            h1 {
                color: $color1;
                font-size: 24px;
                font-weight: 500;
            }

            .gallery {
                display: flex;
                justify-content: space-between;
                margin-top: 53px;

                figure {
                    position: relative;
                    cursor: pointer;

                    .descr {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 260px;
                        height: 260px;
                        transform: scale(0) rotate(90deg);
                        transition: all .5s;
                        background-color: $color11;
                        color: $color1;
                        font-size: 50px;
                        line-height: 260px;
                        text-align: center;
                        opacity: 0;
                    }

                    img {
                        display: block;
                        width: 260px;
                        height: 260px;
                    }

                    figcaption {
                        margin-top: 33px;
                        transition: color .5s;
                        color: $color1;
                        font-size: 16px;
                        text-align: center;
                    }

                    &:hover {
                        .descr {
                            transform: scale(1) rotate(0deg);
                            opacity: 1;
                        }

                        figcaption {
                            transition: color .5s;
                            color: $color4;
                        }

                    }
                }
            }
        }
    }

    .info {
        height: 542px;
        padding-top: 61px;
        background-color: $color12;

        .container {
            display: flex;
            justify-content: space-between;
            width: 1160px;
            margin: 0 auto;

            .news {
                width: 560px;

                h2 {
                    margin-bottom: 45px;
                    color: $color2;
                    font-size: 24px;
                }

                article {
                    position: relative;
                    margin-top: 29px;
                    padding-top: 6px;
                    padding-left: 184px;
                    background: url('../images/news2.png') no-repeat;

                    .calendar {
                        position: absolute;
                        top: 12px;
                        left: -17px;
                        width: 40px;
                        height: 80px;
                        font-size: 15px;
                        line-height: 40px;
                        text-align: center;

                        .mounth {
                            height: 50%;
                            background-color: $color5;
                            color: $color1;
                        }

                        .day {
                            height: 50%;
                            background-color: $color4;
                            color: $color8;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }

                    a {
                        transition: color .5s;
                        color: $color2;
                        font-size: 16px;
                        font-weight: 600;
                        text-decoration: none;

                        &:hover {
                            transition: color .5s;
                            color: $color5;
                        }
                    }

                    p {
                        margin: 5px 0 21px;
                        color: $color9;
                        font-family: Arial, sans-serif;
                        font-size: 13px;
                        line-height: 20px;

                        span {
                            color: $color13;
                        }

                    }

                    &:last-child {
                        background: url('../images/news1.png') no-repeat;
                    }
                }
            }

            .banners {
                width: 560px;

                h2 {
                    margin-bottom: 45px;
                    color: $color2;
                    font-size: 24px;
                }

                .accordion {
                    .btnAccord {
                        position: relative;
                        width: 100%;
                        height: 39px;
                        margin-bottom: 5px;
                        padding-left: 50px;
                        transition: all .5s;
                        border: 1px solid $color14;
                        outline: 0;
                        background-color: $color1;
                        color: $color2;
                        font-size: 13px;
                        text-align: left;
                        text-transform: uppercase;
                        cursor: pointer;

                        &::before {
                            position: absolute;
                            top: -1px;
                            left: 0;
                            width: 39px;
                            height: 39px;
                            border-right: 2px solid $color14;
                            font-size: 13px;
                            line-height: 39px;
                            text-align: center;
                            content: '\02795';

                        }

                        &:hover,
                        &.active {
                            transition: all .5s;
                            border-color: $color4;
                            background-color: $color4;
                            color: $color1;
                        }

                        &.active::before {
                            content: '\2796';
                        }

                    }

                    .panelAcord {
                        display: none;
                        margin: 21px 0 38px;
                        padding-left: 38px;
                        color: $color9;
                        font-family: Arial, sans-serif;
                        font-size: 13px;
                        line-height: 20px;

                    }

                    .show {
                        display: block;
                    }
                }
            }
        }
    }

    .partner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 1160px;
        height: 240px;
        margin: 0 auto;
    }

    .menuBottom {
        height: 325px;
        background: $color2;

        .container {
            display: flex;
            justify-content: space-between;
            width: 1160px;
            margin: 0 auto;
            padding-top: 63px;

            .column {
                width: 260px;

                h2 {
                    color: $color1;
                    font-size: 16px;
                    text-transform: uppercase;
                }

                ul {
                    margin-top: 33px;

                    li {
                        height: 36px;

                        &:not(:last-child) {
                            border-bottom: 1px solid #393c40;
                        }

                        a {
                            color: #6f7073;
                            font-family: Arial, sans-serif;
                            font-size: 13px;
                            line-height: 36px;
                            text-decoration: none;
                            transition: all .5s;

                            &:hover {
                                color: $color5;
                                transition: all .5s;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: #35383c;

        .container {
            width: 1160px;
            margin: 0 auto;

            ul {
                display: flex;
                align-items: center;
                height: 60px;

                li {
                    margin-right: 34px;
                    padding: 5px 0 5px 24px;
                    background: url('../images/icon-bottomLine.png') no-repeat;
                    color: #6f7073;
                    font-family: Arial, sans-serif;
                    font-size: 12px;

                    &:last-child {
                        flex-grow: 1;
                        margin-right: 0;
                        background: none;
                        text-align: right;
                    }
                }

                .location {
                    background-position: 2px 4px;
                }

                .phone {
                    background-position: 6px -44px;
                }

                .email {
                    padding-left: 36px;
                    background-position: 6px -94px;
                }
            }
        }
    }
}
