& {
    -js-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: px(192);
    font-family: 'Montserrat', Arial, sans-serif;

    h1 {
        margin-right: px(16);
        color: $color1;
        font-size: px(44);
        line-height: px(50);
        text-align: center;
    }

    .wrapper {
        -js-display: flex;
        display: flex;
        margin-top: px(66);

        .item {
            width: px(480);
            text-align: center;

            .avatar {
                display: inline-block;
                position: relative;
                width: px(240);
                height: px(240);
                border-radius: 50%;

                .icon {
                    position: absolute;
                    right: px(-8);
                    bottom: px(-10);
                    width: px(80);
                    height: px(80);
                    border-radius: 50%;
                }
            }

            h3 {
                margin-top: px(36);
                color: $color1;
                font-size: px(28);
            }

            p {
                display: inline-block;
                width: px(440);
                margin-top: px(30);
                color: $color2;
                font-family: 'Roboto Light', Arial, sans-serif;
                font-size: px(28);
                line-height: px(34);
            }
        }

        .partner1 {
            .avatar {
                background: url('../images/partners/BradleyHunter.png') no-repeat center;
                background-size: cover;

                .icon {
                    background: url('../images/partners/iconTV.svg') no-repeat center;
                    background-size: cover;
                }
            }
        }

        .partner2 {
            order: 2;

            .avatar {
                background: url('../images/partners/LucasMarsha.png') no-repeat center;
                background-size: cover;

                .icon {
                    background: url('../images/partners/iconProbirka.svg') no-repeat center;
                    background-size: cover;
                }
            }
        }

        .partner3 {
            order: 1;

            .avatar {
                background: url('../images/partners/HeatherWalker.png') no-repeat center;
                background-size: cover;

                .icon {
                    background: url('../images/partners/iconCoffe.svg') no-repeat center;
                    background-size: cover;
                }
            }
        }

        .partner4 {
            order: 3;

            .avatar {
                background: url('../images/partners/BradleyHunter2.png') no-repeat center;
                background-size: cover;

                .icon {
                    background: url('../images/partners/iconPlane.svg') no-repeat center;
                    background-size: cover;
                }
            }
        }
    }

    a {
        display: inline-block;
        width: px(384);
        height: px(80);
        margin-top: px(72);
        transition: background-color .2s, color .2s;
        border: px(4) solid $color3;
        border-radius: px(38);
        color: $color3;
        font-size: px(28);
        font-weight: 700;
        line-height: px(80);
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: $color3;
            color: $color4;
        }
    }
}
