.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

header {
    height: 845px;
    background-image: url('../img/header_bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

.top_line {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding-top: 66px;
    font-family: "League Gothic Regular", Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

.logo {
    float: left;
}

.logo a {
    color: #fff;
    font-size: 48px;
    text-decoration: none;
}

.logo a span {
    color: #734f82;
    text-shadow: none;
}

nav {
    margin-top: 8px;
    float: right;
}

.menu__item {
    display: inline-block;
    margin-left: 38px;
}

.menu__link {
    padding: 0 6px 3px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.menu__link:hover {
    transition: all .25s;
    border-bottom: 2px solid #edbfff;
}

.menu_tab {
    display: none;
}

.slider {
    min-height: 400px;
    margin-top: 165px;
    background-color: rgba(0, 0, 0, .2);
}

.content {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.content article {
    width: 50%;
    padding-top: 77px;
    float: left;
}

.content article h1 {
    margin: 0;
    color: #fff;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 60px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.content article h2 {
    margin-bottom: 5px;
    color: #edbfff;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 32px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

.content article p {
    margin: 0;
    color: #fff;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 18px;
    letter-spacing: -.2px;
    line-height: 24px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.iphone {
    width: 50%;
    float: right;
    text-align: right;
}

.iphone img {
    width: 100%;
    max-width: 274px;
    margin: -18px 77px 0 0;
}

.circle {
    max-width: 970px;
    margin: 91px auto 0;
    text-align: right;
}

.circle a {
    padding-right: 174px;
}

.about {
    min-height: 264px;
    padding-top: 77px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #33253a;
    background: linear-gradient(#745082, #33263a);
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.container__item {
    width: 33%;
    float: left;
}

.container__item h2 {
    padding: 0 0 8px 66px;
    background-image: url('../img/icon.png');
    background-repeat: no-repeat;
    background-position: 10px 5px;
    color: #fff;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 30px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

.container__item:nth-child(2) h2 {
    background-position: 10px -54px;
}

.container__item:nth-child(3) h2 {
    background-position: 10px -116px;
}

.container__item p {
    margin-left: 65px;
    color: #fff;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -.2px;
    line-height: 24px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.container__item a {
    display: block;
    padding-top: 20px;
    color: #fff;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 18px;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

.container__item a:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.comments {
    min-height: 508px;
    padding-top: 100px;
    background-color: #f9f9f9;
}

.starts {
    position: relative;
    width: 45%;
    margin-left: 26px;
    float: left;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
}

.starts h2,
.updates h2 {
    padding: 30px 0 0 42px;
    color: #454545;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.starts h2 span {
    color: #edbfff;
}

.starts p {
    padding: 9px 45px 36px 42px;
    color: #454545;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -.3px;
    line-height: 24px;
}

.icon {
    position: absolute;
    top: 18px;
    left: -21px;
    width: 50px;
    height: 50px;
    background-image: url('../img/icon_2.png');
}

.piptic {
    position: absolute;
    width: 100%;
    height: 20px;
    background: url('../img/piptic.png') no-repeat 372px 0;
}

.circle_2 {
    position: absolute;
    bottom: -46px;
    width: 100%;
    text-align: center;
}

.updates {
    width: 45%;
    padding-right: 21px;
    float: right;
}

.updates h2 {
    padding-left: 0;
}

.updates li {
    height: 50px;
    margin-top: 16px;
    padding-left: 65px;
    background-image: url('../img/icon_2.png');
    background-repeat: no-repeat;
    color: #454545;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -.3px;
    line-height: 24px;
}

.pos__1 {
    background-position: 0 -77px;
}

.pos__2 {
    background-position: 0 -162px;
}

.pos__3 {
    background-position: 0 -250px;
}

.updates__link {
    display: block;
    margin-top: 20px;
    color: #454545;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 18px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}

.logos {
    margin-top: 89px;
    padding: 25px 0 28px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

.logos__1 {
    width: 100%;
    max-width: 970px;
}

.logos__2,
.logos__3 {
    display: none;
}

.categor {
    min-height: 301px;
    padding-top: 95px;
    background-color: #ececec;
}

.categor__news {
    width: 33%;
    float: left;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1.5);
}

.categor__news h2 {
    padding-left: 20px;
    color: #454545;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.categor__news p {
    margin-top: 9px;
    padding-left: 20px;
    color: #787878;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -.2px;
    line-height: 24px;
}

.copyr {
    margin-left: 0;
}

.copyr h2 {
    padding-left: 0;
    font-size: 48px;
}

.copyr h2 span {
    color: #b9b9b9;
}

.copyr p {
    padding-left: 0;
}

.copyr p span {
    color: #c5c5c5;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
}

footer {
    height: 115px;
    background-image: url('../img/footer_bg.png');
}

.menu_bottom {
    padding-top: 45px;
    float: left;
}

.menu_bottom__item {
    display: inline-block;
    margin-right: 40px;
}

.menu_bottom__link {
    color: #fff;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

footer p {
    padding-top: 55px;
    float: right;
    color: #fff;
    font-family: "Times New Roman", serif;
    font-size: 12px;
}
