@import '../mobile';

& {
    padding-top: px(152);

    p {
        margin-top: px(64);
    }

    form {
        flex-direction: row;
        margin-top: px(80);

        input {
            width: px(480);
            margin-right: px(20);
        }

        a {
            width: px(320);
            margin-top: 0;
        }
    }
}
