@import '../mobile';

& {
    h1 {
        margin-top: px(194);
    }

    .wrapper {
        flex-direction: row;
        justify-content: space-around;
        margin-top: px(72);

        .container {
            position: relative;
            width: px(472);
            margin-bottom: 0;

            .step {
                width: px(472);
                height: px(800);

                img {
                    height: 100%;
                }

                >div {
                    a {
                        margin-top: px(424);
                    }
                }
            }

            .step2 {
                >div {
                    a {
                        margin-top: px(518);
                    }
                }
            }
        }
    }
}

.owl-prev {
    position: absolute;
    top: px(80);
    left: px(40);
    width: px(60);
    height: px(110);
    transition: opacity .2s;
    background: url('../images/steps/arrowLeft.svg') no-repeat center;
    background-size: cover;
    content: '';
    cursor: pointer;
    opacity: .5;
    z-index: 2;

    &:hover {
        opacity: 1;
    }
}

.owl-next {
    position: absolute;
    top: px(80);
    right: px(40);
    width: px(60);
    height: px(110);
    transition: opacity .2s;
    background: url('../images/steps/arrowRight.svg') no-repeat center;
    background-size: cover;
    content: '';
    cursor: pointer;
    opacity: .5;
    z-index: 2;

    &:hover {
        opacity: 1;
    }
}
