@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneue-thin-webfont.eot');
	src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
	url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
	url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-image: url(../img/fon.jpg);
	background-repeat: no-repeat;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
}

header {
	padding: 0 15px;
	text-align: right;
	height: 36px;
	/*background-color: #075190;*/
	background-image: url(../img/top_line.png);
}

header ul {
	line-height: 0;
	font-size: 0;
	letter-spacing: -1px;
}
header li {
	display: inline-block;
	line-height: normal;
	font-size: 14px;
	letter-spacing: normal;	
}

header li a {
	display: block;
	padding: 0 15px;
	line-height: 36px;
	text-decoration: none;
	color: #4e9dd5;
}

header li:hover a,
header li.active a{
	background-color: #4eabda;
	color: #fff;
}

header li.active a span {
	text-decoration: underline;
}

header li.flag a{
	padding: 0 15px 0 45px;
	background-image: url(../img/flag.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	border-left: 1px solid #56a2dc;
	color: #fff;
}

form {
	top: 180px;
	position: relative;
	width: 560px;
	margin: auto;
	text-align: center;
	background: rgba(0,0,0,0.63);
}

form h2 {
	margin: 0 0 44px;
	padding: 20px 0;
	color: #fff;
	font-size: 24px;
	border-bottom: 2px solid #bac4ac;
}

.line {
	margin: 25px auto;
	width: 275px;
	color: #8e8f8e;
	background-image: url(../img/line.png);
	background-position: 0 -2px;
}

form .text input {
	display: block;
	margin: 15px auto;
	width: 275px;
	height: 35px;
	background-color: #101010;
	border: none;
	border-bottom: 1px solid #484847;
	text-indent: 18px;
	color: #fff;
}

form .text input:focus {
	background-color: #1b5288;
	box-shadow: 0 0 10px 3px rgba(104,155,204,0.7);
	border-bottom: 1px solid #1b5288;
}

.tips {
	margin: 0 140px;
	color: #c4c4c3;
	text-align: left;
}

.button input {
	margin: 20px 0;
	height: 35px;
	background-image: linear-gradient(#4faddb, #2e7ac4);
	color: #fff;
	border: none;
	border-radius: 3px;
	width: 150px;
	cursor: pointer;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

form p {
	margin: 0 125px;
	padding-bottom: 20px;
	color: #c4c4c3;
	font-size: 11px;
}