@import '../mobile';

& {
    height: px(1400);
    background-position-x: px(-670);

    .top-line {
        -js-display: flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: px(76);
        padding: 0 px(100);

        div {
            order: 1;
            margin-right: 0;
        }

        h2 {
            margin-top: px(8);
            margin-left: 0;
        }
    }

    h1 {
        margin-top: px(284);
        padding: 0 px(260);
        font-size: px(104);
        line-height: px(126);
    }

    p {
        margin-top: px(54);
        font-size: px(48);
    }

    >a {
        width: px(450);
        margin-top: px(74);
    }
}
