& {
    -js-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: px(1400);
    background: url('../images/header/desktop-bg.jpg') no-repeat;
    background-size: cover;
    color: $color2;
    font-family: 'Montserrat', Arial, sans-serif;

    .top-line {
        -js-display: flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: px(76);
        padding: 0 px(500);

        div {
            -js-display: flex;
            display: flex;
            order: 1;

            a {
                display: block;
                padding: px(18) px(34);
                border: 2px solid transparent;
                border-radius: px(36);
                color: $color2;
                font-size: px(28);
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    border-color: $color2;
                }
            }
        }

        h2 {
            margin-top: px(8);
            font-size: px(40);
            font-weight: 700;
            letter-spacing: .7px;
        }
    }

    h1 {
        margin-top: px(286);
        padding: 0 px(920);
        font-size: px(104);
        font-weight: 700;
        line-height: px(124);
        text-align: center;
        text-transform: uppercase;
    }

    p {
        margin-top: px(50);
        font-family: 'Roboto Light', Arial, sans-serif;
        font-size: px(48);

    }

    >a {
        display: block;
        width: px(450);
        height: px(80);
        margin-top: px(76);
        border-radius: px(40);
        background-color: $color3;
        color: $color2;
        font-size: px(28);
        font-weight: 700;
        line-height: px(80);
        text-align: center;
        text-decoration: none;
    }
}
