& {
    -js-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: px(1080);
    background: url('../images/header/desktop-bg.jpg') no-repeat px(-810) 0;
    background-size: cover;
    color: $color2;
    font-family: 'Montserrat', Arial, sans-serif;

    .top-line {
        margin-top: px(40);

        div {
            -js-display: flex;
            display: flex;
            margin-right: px(42);

            a {
                display: block;
                padding: px(18) px(34);
                border: 2px solid transparent;
                border-radius: 18px;
                color: $color2;
                font-size: px(28);
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    border-color: $color2;
                }
            }
        }

        h2 {
            margin-top: px(234);
            margin-left: px(16);
            font-size: px(40);
            font-weight: 700;
            letter-spacing: .7px;
        }
    }

    h1 {
        margin-top: px(60);
        font-size: px(60);
        font-weight: 700;
        line-height: px(72);
        text-align: center;
        text-transform: uppercase;
    }

    p {
        margin-top: px(20);
        padding: 0 px(90);
        font-family: 'Roboto Light', Arial, sans-serif;
        font-size: px(36);
        line-height: px(40);
        text-align: center;
    }

    >a {
        display: block;
        width: px(560);
        height: px(80);
        margin-top: px(34);
        border-radius: 20px;
        background-color: $color3;
        color: $color2;
        font-size: px(28);
        font-weight: 700;
        line-height: px(80);
        text-align: center;
        text-decoration: none;
    }
}
